.Card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.cardBody {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 60px;
  margin-left: 60px;
}

.contactButton {
  display: inline-block;
  margin-left: 90%;
  background-color: #ffd500 !important;
  color: #000000 !important;
  border-radius: 25px !important;
}

.square-card {
  width: 170px;
  height: 170px;
}

.square-card-logo {
  color: #ffd500;
  text-align: center;
  padding-bottom: 15px;
}

.square-card-text {
  color: white;
  text-align: center;
}

.main-first {
  padding-top: 30px;
  margin-left: 100px;
  margin-right: 35px;
}

.main-second {
  padding-top: 100px;
  margin-right: 100px;
  margin-left: 35px;
}

.secondary {
  padding-top: 15px;
}

.square-button {
  padding: 0 !important;
}

.square-button:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.title1 {
  color: #ffd500;
}

.title2 {
  font-size: 50px;
}
